.camp {
  width: 100%;
  display: flex;
  margin-top: 65px;
  margin-bottom: 95px;
}
@media (min-width: 920px) {
  .camp {
    margin-top: 130px;
    margin-bottom: 95px;
  }
}
.camp-item__img {
  width: 90%;
}
@media (min-width: 920px) {
  .camp-item__img {
    width: auto;
  }
}
.camp__desc {
  width: 380px;
  padding-left: 20px;
}
@media (min-width: 920px) {
  .camp__desc {
    width: 395px;
    padding-top: 100px;
    padding-left: 40px;
  }
}
.camp-title {
  font-size: 9px;
  font-family: 'League Spartan Bold', sans-serif;
  color: rgba(11, 12, 17, 0.271);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 25px;
}
@media (min-width: 920px) {
  .camp-title {
    margin-bottom: 50px;
  }
}
.camp-addres {
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  color: #333333;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.300px;
  margin-bottom: 30px;
  padding-left: 22.5px;
}
@media (min-width: 920px) {
  .camp-addres {
    font-size: 32px;
    margin-bottom: 60px;
    padding-left: 45px;
  }
}
